
networks:
  appnet:

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    depends_on:
      - backend
    networks:
      - appnet
    restart: always

  backend:
    build: ./backend
    container_name: backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/appdb
      S3_ENDPOINT: minio:9000
      S3_BUCKET: app-bucket
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
      STORAGE_TYPE: ${STORAGE_TYPE}
      S3_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      UPLOAD_DIR: uploads/
      

      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      BETTER_AUTH_URL: ${BETTER_AUTH_URL}
      FRONTEND_URL: ${FRONTEND_URL}

      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}

      MOMO_REDIRECT_URL: ${MOMO_REDIRECT_URL}
      MOMO_IPN_URL: ${MOMO_IPN_URL}
      VNPAY_RETURN_URL: ${VNPAY_RETURN_URL}

      GOOGLE_GENERATIVE_AI_API_KEY: ${GOOGLE_GENERATIVE_AI_API_KEY}
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - appnet
    volumes:
      - backend_uploads:/app/uploads
    # restart: always

  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - appnet
    ports:
      - "5432:5432"
    restart: always

volumes:
  pgdata:
  backend_uploads:
 
